@model ProjetoAspNetMVC03.Models.AccountPasswordRecoveryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password Recovery</title>

    <!-- folhas de estilo CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body class="bg-secondary">

    <div class="mt-5 col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body text-center">

                <img class="img-fluid" src="https://plancredi.com.br/wp-content/uploads/2019/05/LOGO-PLANCREDI.png" />

                <h5>Esqueci minha senha</h5>
                <hr />

                @using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post,
                new { @autocomplete = "off" }))
                {
                    <label>Informe seu email para receber uma nova senha de acesso:</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Email)
                    </span>
                    <br />

                    <div class="d-grid">
                        <input type="submit" class="btn btn-dark" value="Confirmar" />
                        <a href="/Account/Login" class="btn btn-light">Voltar</a>
                    </div>

                    @if (TempData["Mensagem"] != null)
                    {
                        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                            <strong>@TempData["Mensagem"]</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>

    <!-- arquivos javascript -->
    <script src="~/js/bootstrap.js"></script>

</body>
</html>


